.main-div {
  background-color: #002a51;
}
.visualizer {
  width: 100%;
  height: 100%;

  .visualizer-header {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .personal-links-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      transform: translateX(-50%);
      margin-left: 50%;
      width: 500px;
      height: 50px;
      z-index: 10;

      .personal-link-div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 120px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: inherit;
          width: inherit;
          font-size: 16px;
          text-decoration: none;
          background-color: #1fc7ba;
          border: 2px solid white;
          border-radius: 10px;
          color: white;
        }

        a:hover {
          background-color: #fb5000;
        }
      }
    }

    .visualizer-heading-container {
      display: flex;
      justify-content: center;
      width: 510px;
      margin-left: 50%;
      transform: translateX(-50%);

      h1 {
        font-size: 30px;
        font-weight: 600;
        color: #1fc7ba;
      }
    }
  }
}

.main-section {
  display: flex;
  justify-content: center;

  .filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 0px 20px;
    width: 200px;
    height: 200px;
    background-color: #ececec;
    border: 2px solid black;
    border-radius: 10px;

    .filter-text {
      margin-top: 10px;
      font-size: 18px;
      color: #fb5000;
    }

    .filter-div {
      height: 150px;
      background-color: #f5b400;
      color: #002a51;
      border-radius: 10px;
      width: 175px;
      margin-top: 10px;

      p {
        margin-top: 10px;
        margin-left: 10px;
      }

      .filter-buttons {
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-left: 20px;

        li {
          list-style: disc;
          margin-left: 10px;
        }

        button {
          font-size: 16px;
          color: #f1f1f1;
          background: none;
          outline: none;
          border: none;
        }

        button:hover {
          cursor: pointer;
          color: #fb5000;
        }

        .active {
          color: #fb5000;
        }
      }
    }
  }
}

.map-top {
  display: flex;
  justify-content: space-between;
}

.usa-map {
  height: 700px;
}

.map {
  width: 1300px;
  height: 400px;
  top: -200px;
  position: relative;
}

.map-week-container {
  color: #ff6347;
}

.map-key {
  display: flex;
  width: 250px;
  justify-content: space-evenly;

  .map-key-green {
    color: rgb(0, 228, 0);
  }

  .map-key-blue {
    color: rgb(59, 177, 255);
  }
}

.scroller-container {
  display: flex;

  .scroller-text-div {
    color: #ff6347;
  }

  .scroller-div {
    margin-left: 50px;
    width: 250px;

    .scroller {
      -webkit-appearance: none;
      width: 100%;
      height: 10px;
      border-radius: 5px;
      background: white;
      outline: none;
      opacity: 0.7;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
    }

    .scroller::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #1fc7ba;
      cursor: pointer;
    }

    .scroller::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #1fc7ba;
      cursor: pointer;
    }
  }
}

.footer-container {
  height: 150px;

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;

    .footer-content {
      p {
        font-size: 12px;
        margin-top: 30px;

        a {
          text-decoration: none;
          color: rgb(59, 177, 255);
        }

        a:hover {
          color: #ff0000;
        }
      }
    }
  }
}

.hoverinfo {
  color: black;
  strong {
    font-size: 18px;
    font-weight: 600;
  }
}

.green-text {
  strong {
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 228, 0);
  }
}

.blue-text {
  strong {
    font-size: 14px;
    font-weight: 600;
    color: rgb(59, 177, 255);
  }
}
